{% extends "MaxJobeetBundle::layout.html.twig" %}

{% block content %}

    <table class="table table-striped">
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><strong>{{ entity.location }}</strong></td>
                <td class="position">
                    <a href="{{ path('max_job_show', { 'id': entity.id }) }}">
                        {{ entity.position }}
                    </a>
                </td>
                <td class="company">{{ entity.company }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}